<% content_for :head do %>
  <%= vite_typescript_tag "inertia" %>
  <%= vite_react_refresh_tag %>
  <%= vite_client_tag %>
  <%= vite_stylesheet_tag "application" %>
  <%= vite_typescript_tag 'application' %>
  <%= inertia_headers %>
  <title>A simple page</title>
<% end %>


<h2>Inertia views page</h2>