<!DOCTYPE html>
<html>
<head>
  <%# <title inertia>Connectient</title> %>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= vite_client_tag %>
  <%= vite_stylesheet_tag 'application'%>
  <%= vite_typescript_tag 'dashboard' %>
  <%= inertia_ssr_head %>

</head>
<body>
  <%= yield %>
</body>
</html>